<style>
    .valor-copi {
        width: ;
        cursor: pointer;
        transition-timing-function: linear;
        transition-duration: 0.1s;
        color: #049DD9;
    }

    .valor-copi:hover {
        opacity: 70%;
    }

    #pesquisar-gastos {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #pesquisar-gastos>svg {
        width: 9%;
        color: #049DD9;
        background-color: #ffffff;
        padding: 2%;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    #pesquisar-gastos>#q {
        width: 90%;
        border: 1px;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    #pesquisar-gastos>#q:hover {
        box-shadow: none;
        outline: none;
        border: none;
    }

    #pesquisar-gastos>#q::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    .gastos {
        width: 80%;
        border-color: #049DD9;
        background-color: #ffffff;
        border-radius: 10px;
        margin-left: 10%;
    }

    .gastos>thead, .gastos>tr, .gastos>tbody, .gastos>td {
        border-color: #049DD9;
    }

    .gastos th, td {
        padding: 2%;
        text-align: center;
        vertical-align: middle;
    }

    #link-gasto-editar {
        color: #0d6efd;
    }

    #link-gasto-editar:hover {
        color: #0B5ED7;
    }

    #link-gasto-excluir {
        color: #dc3545;
    }

    #link-gasto-excluir:hover {
        color: #BB2D3B;
    }

    .td-gastos {
        cursor: pointer;
    }

    .td-gastos:hover {
        transition-timing-function: linear;
        transition-duration: 0.2s;
        background-color: #ECECEC;
        border-radius: 10px;
    }

    .btn-expo {
        background-color: #049DD9;
        color: #ffffff;
    }

    .btn-expo:hover {
        background-color: #048bc0;
        color: #ffffff;
    }

    .gasto-model {
        padding: 2%;
        padding-top: 4%;
    }

    .gasto-model>.tit-md {
        color: #049DD9;
        text-align: center;
        margin-bottom: 5%;
    }

    .gasto-model>ul {
        list-style: none;
    }

    .campo {
        color: #049DD9;
    }

    #chartdiv {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 500px;
        background-color: #ffffff;
        margin-bottom: 5%;
    }

    #chart_div {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 5%;
        height: 400px;
    }
</style>
{{#if voltar}}
    <btn-voltar voltar="{{voltar}}"></btn-voltar>
{{else}}
    <btn-voltar voltar="/financeiro"></btn-voltar>
{{/if}}
{{#if gastos}}
    <div id="chart_div"></div>
{{/if}}
<input type="hidden" name="quant" id="quant" value="{{gastos.length}}">
<script>
    setInterval(() => socket.emit('veri-gastos-gastos', $('#quant').val()), 500)

    socket.on('veri-gastos-gastos-res', recarregar => {
        if (recarregar) {
            window.location.reload()
        }
    })

    socket.emit('veri-grafico-gastos-gastos')
</script>
{{#if gastos}}
    <nav id="pesquisar-gastos" class="row">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <input type="search" id="q" class="form-control" name="q" list="gastosQ">
    </nav>
    <table class="table table-bordered gastos">
        <thead>
            <tr>
                <td colspan="7">
                    <form method="POST" id="form-gasto-exclu-todos" style="display: inline-block;width: 25%;padding: 0.5%;padding-right: 2%;">
                        <a class="btn-pd-exclu" style="width: 100%;display: inline-block;" onclick="excluSele()" id="btn-exclu-gastos-sele">
                            Excluir gastos selecionadas
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </form>
                    <a href="/financeiro/gastos/exportar" class="btn-pd btn-expo" style="display: inline-block;">
                        Exportar dados
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <input class="form-check-input form-check-input-todos" id="form-check-input-todos" type="checkbox" onclick="marcarTodos()">
                </th>
                <th scope="col">Nome do gasto</th>
                <th scope="col">Preço</th>
                <th stope="col">Data de cadastro</th>
                <th stope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each gastos}}
                <a id="{{this.id}}"></a>
                <tr class="gasto" id="{{this.id}}-campo">
                    <td class="td-gastos">
                        <input class="form-check-input form-check-input-gasto" type="checkbox" id="{{this.id}}-check">
                    </td>
                    <input type="hidden" name="id" value="{{this.id}}" id="id">
                    <td class="td-gastos" data-bs-toggle="modal" data-bs-target="#gasto-modal-{{this.id}}">
                        <span style="margin: 0;padding: 0;">
                            {{this.nome}}
                        </span>
                    </td>
                    <td class="td-gastos" data-bs-toggle="modal" data-bs-target="#gasto-modal-{{this.id}}">
                        <span style="margin: 0;padding: 0;">
                            {{this.preco}}
                        </span>
                    </td>
                    <td class="td-gastos" data-bs-toggle="modal" data-bs-target="#gasto-modal-{{this.id}}">
                        <span style="margin: 0;padding: 0;">
                            {{this.criacao.data}} as {{this.criacao.hora}}
                        </span>
                    </td>
                    <td>
                        <form action="/financeiro/gastos/editar/{{this.id}}" method="POST" id="form-gasto-editar-{{this.id}}" style="display: inline-block;float: left;margin-left: 20%;">
                            <a style="cursor: pointer;" id="link-gasto-editar" onclick="enviar('#form-gasto-editar-{{this.id}}')" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>
                        </form>
                        <form action="/financeiro/gastos/excluir/{{this.id}}" method="POST" id="form-gasto-exclu-{{this.id}}" style="display: inline-block;float: right;margin-right: 20%;">
                            <a style="cursor: pointer;" id="link-gasto-excluir" onclick="enviar('#form-gasto-exclu-{{this.id}}')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                        </form>
                    </td>
                </tr>
                <div class="modal fade" id="gasto-modal-{{this.id}}" tabindex="-1" aria-labelledby="gasto-modal-{{this.id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content gasto-model">
                            <h4 class="valor-copi tit-md" onclick="copiar('{{this.nome}}')" style="width: fit-content;display: block;margin-left: auto;margin-right: auto;">{{this.nome}}</h4>
                            <ul>
                                <li>
                                    <h5 class="campo" style="margin: 0;padding: 0;">
                                        Preço: <span class="valor-copi" onclick="copiar('{{this.preco}}')" style="margin: 0;padding: 0;">{{this.preco}}</span>
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="campo" style="margin: 0;padding: 0;">
                                        Data de cadastro da gasto: <span class="valor-copi" onclick="copiar('{{this.criacao.data}} as {{this.criacao.hora}}')" style="margin: 0;padding: 0;">{{this.criacao.data}} as {{this.criacao.hora}}</span>
                                    </h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each}}
        </tbody>
    </table>
    <script>
        const pesquisa = $('#q')
        setInterval(() => {
            if (pesquisa.val().length == 0) {
                $('.gasto').toArray().forEach(gasto => $(`#${gasto.id}`).show())
            }
            function veriCheks() {
                let tem = false
                const checks = window.document.getElementsByClassName('form-check-input-gasto')
                for (let cont = 0;cont < checks.length;cont++) {
                    const check = checks[cont]
                    if (check.checked == true) {
                        tem = true
                    }
                }
                return tem
            }
            if (veriCheks() === true) {
                $('#btn-exclu-gastos-sele').css({pointerEvents: 'all', backgroundColor: '#dc3545'})
            } else {
                $('#btn-exclu-gastos-sele').css({pointerEvents: 'none', backgroundColor: '#E87C87'})
            }
        }, 1)
        pesquisa.keyup(() => {
            socket.emit('veri-gastos-gastos-pesquisa', pesquisa.val())
        })
        socket.on('veri-gastos-gastos-pesquisa-res', gastosBrutas => {
            if (gastosBrutas) {
                $('.gasto').toArray().map((gasto, index) => {
                    const { gastos, ultimo } = gastosBrutas
                    if (gastos.includes(String(gasto.id).replace('-campo', ''))) {
                        if (index === ultimo) {
                            $(`#${gasto.id.replace('-campo', '')}-link-nav`).show()
                            $(`#${gasto.id.replace('-campo', '')}-link-nav>li`).attr('class', 'ultimo')
                            $(`#${gasto.id}`).show()
                        } else {
                            $(`#${gasto.id.replace('-campo', '')}-link-nav`).show()
                            $(`#${gasto.id.replace('-campo', '')}-link-nav>li`).attr('class', '')
                            $(`#${gasto.id}`).show()
                        }
                    } else {
                        $(`#${gasto.id.replace('-campo', '')}-link-nav`).hide()
                        $(`#${gasto.id}`).hide()
                    }
                })
            }
        })
        function marcarTodos() {
            const checkO = window.document.getElementById('form-check-input-todos').checked
            const checks = window.document.getElementsByClassName('form-check-input-gasto')
            for (let cont = 0;cont < checks.length;cont++) {
                const check = checks[cont]
                if ($(`#${check.id}`).is(":visible")) {
                    if (checkO != check.checked) {
                        check.click()
                    }
                }
            }
        }
        function excluSele() {
            let tem = ''
            const checks = window.document.getElementsByClassName('form-check-input-gasto')
            for (let cont = 0;cont < checks.length;cont++) {
                const check = checks[cont]
                if (check.checked == true) {
                    tem += String(check.id).replace('-check', ',')
                }
            }
            tem = tem.substring(0, tem.length-1)
            $('#form-gasto-exclu-todos').prop('action', `/financeiro/gastos/excluir-todos/${tem}`)
            enviar('#form-gasto-exclu-todos')
        }
    </script>
{{else}}
    <h1 class="tit" style="margin-bottom: 2%;">Não há gastos cadastradas</h1>
{{/if}}
<a href="/financeiro/gastos/cadastrar" class="btn-pd" style="margin-bottom: 10%;">
    Cadastrar gasto
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle icone-esquerda-btn" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
</a>

<script>
    socket.on('veri-grafico-gastos-gastos-res', gastos => {
        let maiorGasto = {
            preco: 0
        }
        gastos.map((gasto, index) => index != 0 ? gasto[1] > maiorGasto.preco ? maiorGasto = {
            preco: gasto[1],
            nome: gasto[0]
        }: null : null)
        let menorGasto = {
            preco: gastos[1][1]
        }
        gastos.map((gasto, index) => index != 0 ? gasto[1] < menorGasto.preco ? menorGasto = {
            preco: gasto[1],
            nome: gasto[0]
        }: null : null)
        socket.emit('media-tot-gastos', gastos)
        socket.on('media-tot-gastos-res', (total, media) => {
            socket.emit('convert-gasto', maiorGasto.preco, menorGasto.preco)
            socket.on('convert-gasto-res', (maiorGastoReal, menorGastoReal) => {
                google.charts.load('current', {
                    'packages': ['corechart', 'bar'],
                    'language': 'pt-br'
                })

                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    let data = google.visualization.arrayToDataTable(gastos)
                    let options = {
                        title: `Maior gasto: ${maiorGasto.nome}, ${maiorGastoReal}\nmenor gasto: ${menorGasto.nome}, ${menorGastoReal}\nTotal dos gastos: ${total}\nMédia dos gastos: ${media}`,
                        chartArea: {
                            width: '70%',
                            height: '50%'
                        },
                        hAxis: {
                            title: ``,
                            minValue: 0,
                            maxValue: maiorGasto,
                            titleTextStyle: {
                                bold: true
                            }
                        },
                        vAxis: {
                            title: 'Nome do gasto'
                        },
                        annotations: {
                            textStyle: {
                                color: '#ffffff'
                            }
                        }
                    }

                    let chart = new google.visualization.BarChart(document.getElementById('chart_div'))

                    chart.draw(data, options)
                }
            })  
        })
    })
</script>