<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <!-- AmCharts 
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script> -->
    <!-- Ajax -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Sistema Josival Penha</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            overflow: hidden;
            background-color: #049DD9;
        }
    
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #049DD9;
            z-index: 999;
        }

        #preloader .inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);  
        }

        .bolas>div {
            display: inline-block;
            background-color: #ffffff;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            margin: 3px;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            animation-name: animarBola;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        .bolas>div:nth-child(1) {
            animation-duration: 0.75s ;
            animation-delay: 0;
        }

        .bolas>div:nth-child(2) {
            animation-duration: 0.75s ;
            animation-delay: 0.12s;
        }

        .bolas>div:nth-child(3) {
            animation-duration: 0.75s  ;
            animation-delay: 0.24s;
        }
        
        @keyframes animarBola {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }

            16% {
                -webkit-transform: scale(0.1);
                transform: scale(0.1);
                opacity: 0.7;
            }
            
            33% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1; 
            }
        }

        .alert-prin {
            text-align: center;
            width: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .tit {
            color: #ffffff;
            text-align: center;
        }

        .bi-box-arrow-left {
            margin-left: 1%;
            margin-top: 1%;
            color: #ffffff;
        }

        .btn-pd-exclu {
            width: 3%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: #dc3545;
            border-radius: 8px;
            margin-bottom: 1.2%;
            text-decoration: none;
            color: #ffffff;
            text-align: center;
            padding: 3%;
            transition-timing-function: linear;
            transition-duration: 0.2s;
            cursor: pointer;
        }

        .btn-pd-exclu:hover {
            color: #ffffff;
            background-color: #BB2D3B;
        }

        .btn-pd-exclu>svg {
            margin-left: 10%;
        }

        .btn-pd-edit {
            width: 3%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: #0d6efd;
            border-radius: 8px;
            margin-bottom: 1.2%;
            text-decoration: none;
            color: #ffffff;
            text-align: center;
            padding: 3%;
            transition-timing-function: linear;
            transition-duration: 0.2s;
            cursor: pointer;
        }

        .btn-pd-edit:hover {
            color: #ffffff;
            background-color: #0B5ED7;
        }

        .btn-pd-edit>svg {
            margin-left: 10%;
        }
        
        .btn-pd {
                width: 19%;
                margin: 0;
                display: block;
                margin-left: auto;
                margin-right: auto;
                background-color: #ffffff;
                border-radius: 8px;
                margin-bottom: 1.2%;
                text-decoration: none;
                color: #049DD9;
                text-align: center;
                padding: 0.6%;
                transition-timing-function: linear;
                transition-duration: 0.2s;
            }

            .btn-pd:hover {
                color: #049DD9;
                background-color: #ececec;
            }
    
            .btn-pd>svg {
                width: 24px;
                height: 24px;
                fill: currentColor;
                margin-left: 10%;
            }
    </style>
</head>
<body>
    {{#if primario_msg}}
        <div class="alert alert-primary alert-prin" role="alert">{{primario_msg}}</div>
    {{/if}}
    {{#if error}}
        <div class="alert alert-danger alert-prin" role="alert">{{error}}</div>
    {{/if}}
    {{#if erro_msg}}
        <div class="alert alert-danger alert-prin" role="alert">{{erro_msg}}</div>
    {{/if}}
    {{#if success}}
        <div class="alert alert-success alert-prin" role="alert">{{success}}</div>
    {{/if}}
    {{#if sucesso_msg}}
        <div class="alert alert-success alert-prin" role="alert">{{sucesso_msg}}</div>
    {{/if}}
    {{#if alert_msg}}
        <div class="alert alert-warning alert-prin" role="alert">{{alert_msg}}</div>
    {{/if}}
    <div id="preloader">
        <div class="inner">
            <div class="bolas">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="dominio" value="{{dominio}}">
    <script>
        function enviar(form='') {
            $(form).submit()
        }

        function copiar(valor) {
            navigator.clipboard.writeText(valor)
        }

        const dominio = $('#dominio').val()
        const socket = io(dominio, {
            transports: ['websocket']
        })
    </script>
    {{{body}}}
    <!-- btn-voltar -->
        <script src="/public/components/btn-voltar.js"></script>
    <!-- color-financeiro -->
        <script src="/public/components/color-financeiro.js"></script>
    <script>
        //<![CDATA[
            $(window).on('load', function () {
                $('#preloader .inner').fadeOut()
                $('#preloader').delay(150).fadeOut('slow')
                $('body').delay(150).css({'overflow': 'visible'})
            })
        //]]>
    </script>
</body>
</html>