<style>
    #form {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        background-color: #ffffff;
        margin-top: 5%;
        border-radius: 12px;
    }

    .campo-jt {
        margin: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        
    }

    .campo-btn {
        margin: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 5%;
    }

    .btn {
        font-size: 1.5vw;
        width: 100%;
        background-color: #049DD9;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 12px;
        margin-top: 3%;
        transition-timing-function: linear;
        transition-duration: 0.2s;
    }

    .btn:hover {
        background-color: #049dd9d3;
    }

    .campo {
        margin: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    input[type=text], input[type=tel] {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        transition-timing-function: linear;
        transition-duration: 0.2s;
    }

    .form-label {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #049DD9;
    }

    .tit {
        color: #049DD9;
        padding-top: 6%;
        padding-bottom: 2%;
        text-align: center;
        font-size: 4vw;
    }

    .sep {
        background-color: #049DD9;
        padding-top: 0.3%;
    }

    .bi-arrow-left-circle {
        color: #ffffff;
        margin-left: 1%;
        margin-top: 1%;
    }

    .btn-voltar-link {
        transition-timing-function: linear;
        transition-duration: 0.2s;
    }

    .btn-voltar-link:hover {
        transition-timing-function: linear;
        transition-duration: 0.2s;
        opacity: 80%;
    }

    #erro-nome {
        padding: 1.5%;
        display: none;
        margin-bottom: 0;
    }

    #erro-nome-txt {
        margin-left: 1%;
    }

    #erro-cep {
        padding: 1.5%;
        display: none;
        margin-bottom: 0;
    }

    #erro-cep-txt {
        margin-left: 1%;
    }
</style>
</style>
<input type="hidden" name="data" id="data" value="{{data}}">
{{#if voltar}}
    <btn-voltar voltar="{{voltar}}"></btn-voltar>
{{else}}
    <btn-voltar voltar="/alunos"></btn-voltar>
{{/if}}
<form action="/alunos/editar-veri" id="form" class="row" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{aluno.id}}">
    <div class="row">
        <h1 class="tit">Edição do aluno</h1>
    </div>
    <div class="row">
        <hr class="sep">
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 for="Nome do aluno" class="form-label">Nome</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="nomeOrigem" value="{{aluno.nome}}">
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome" required value="{{aluno.nome}}">
            <div class="alert alert-danger" role="alert" id="erro-nome">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
                <span id="erro-nome-txt"></span>
            </div>
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 for="Nome da série" class="form-label">Sexo</h4>
        </div>
        <input type="hidden" name="sexoOrigem" value="{{aluno.sexo}}">
        <div class="row campo">
            <select class="form-select" aria-label="Selecione o sexo do aluno" required name="sexo" id="sexo">
                <option selected value="{{aluno.sexo}}">{{aluno.sexo}}</option>
                {{#each sexos}}
                    <option value="{{this}}">{{this}}</option>
                {{else}}
                {{/each}}
            </select>
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Data de nascimento</h4>
        </div>
        <input type="hidden" name="nascimentoOrigem" value="{{nascimento}}">
        <div class="row campo">
            <input type="hidden" id="nascimento-data" value="{{nascimento}}">
            <input type="date" class="form-control" id="nascimento" name="nascimento" required>
        </div>
    </div>
    <br>
    <input type="hidden" name="cpfOrigem" value="{{aluno.cpf}}">
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">CPF</h4>
        </div>
        <div class="row campo">
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite o CPF" required value="{{aluno.cpf}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Nome do primeiro responsável</h4>
        </div>
        <input type="hidden" name="nomeRes1Origem" value="{{aluno.responsavel1}}">
        <div class="row campo">
            <input type="text" class="form-control" id="nomeRes1" name="nomeRes1" placeholder="Digite o nome do primeiro responsável" required value="{{aluno.responsavel1}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Nome do segundo responsável (opcional)</h4>
        </div>
        <input type="hidden" name="nomeRes2Origem" value="{{aluno.responsavel2}}">
        <div class="row campo">
            <input type="text" class="form-control" id="nomeRes2" name="nomeRes2" placeholder="Digite o nome do segundo responsável" value="{{aluno.responsavel2}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Telefone</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="telefoneOrigem" value="{{aluno.telefone}}">
            <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Digite o telefone" required value="{{aluno.telefone}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">E-mail</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="emailOrigem" value="{{aluno.email}}">
            <input type="text" class="form-control" id="email" name="email" placeholder="Digite o e-mail" required value="{{aluno.email}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">CEP</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="cepOrigem" value="{{aluno.cep}}">
            <input type="text" class="form-control" id="cep" name="cep" placeholder="Digite o CEP" required value="{{aluno.cep}}">
            <div class="alert alert-warning" role="alert" id="erro-cep">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
                <span id="erro-cep-txt"></span>
            </div>
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Cidade</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="cidadeOrigem" value="{{aluno.cidade}}">
            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Digite a cidade" required value="{{aluno.cidade}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Bairro</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="bairroOrigem" value="{{aluno.bairro}}">
            <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Digite o bairro" required value="{{aluno.bairro}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Rua</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="ruaOrigem" value="{{aluno.rua}}">
            <input type="text" class="form-control" id="rua" name="rua" placeholder="Digite a cidade" required value="{{aluno.rua}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Número da casa</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="numeroOrigem" value="{{aluno.numero}}">
            <input type="text" class="form-control" id="numero" name="numero" placeholder="Digite o número da casa" required value="{{aluno.numero}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Complemento da casa (opcional)</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="complementoOrigem" value="{{aluno.complemento}}">
            <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Digite o complemento da casa" required value="{{aluno.complemento}}">
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Data da matrícula</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="dataMatriculaOrigem" value="{{dataMatricula}}">
            <input type="hidden" id="dataMatricula-data" value="{{dataMatricula}}">
            <input type="date" class="form-control" id="dataMatricula" name="dataMatricula" required>
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Turma</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="turmaOrigem" value="{{turma}}">
            <select class="form-select" aria-label="Selecione a turma" required name="turma" id="turma">
                <option selected value="{{turma}}">{{turma}}</option>
                {{#each turmas}}
                    <option value="{{this}}">{{this}}</option>
                {{else}}
                {{/each}}
            </select>
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Situação</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="situacaoOrigem" value="{{aluno.situacao}}">
            <select class="form-select" aria-label="Selecione a situação" required name="situacao" id="situacao">
                <option selected value="{{aluno.situacao}}">{{aluno.situacao}}</option>
                {{#each situacoes}}
                    <option value="{{this}}">{{this}}</option>
                {{else}}
                {{/each}}
            </select>
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Observação (opcional)</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="observacaoOrigem" value="{{aluno.observacao}}">
            <textarea class="form-control" style="resize: none;" spellcheck="true" id="observacao" name="observacao" placeholder="Digite a Observação">{{aluno.observacao}}</textarea>
        </div>
    </div>
    <br>
    <div class="row campo-jt">
        <div class="row label">
            <h4 class="form-label">Foto</h4>
        </div>
        <div class="row campo">
            <input type="hidden" name="fotoOrigem" value="{{aluno.foto}}">
            <input type="file" class="form-control" id="foto" name="foto" accept="image/png, image/jpeg, image/bmp, image/webp, image/svg+xml, application/pdf">
        </div>
    </div>
    <br>
    <br>
    <div class="row campo-btn">
        <button class="btn btn-primary" id="btn">Confirmar</button>
    </div>
    <br>
</form>
<br>
<br>
<br>
<br>
<br>
<script>
    const nome = $('#nome')
    const erroNome = window.document.getElementById('erro-nome')
    const erroNomeTxt = window.document.getElementById('erro-nome-txt')
    $('#nascimento').val($('#nascimento-data').val())
    $('#dataMatricula').val($('#dataMatricula-data').val())
    $('#cpf').mask('000.000.000-00', {reverse: true})
    let behavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009'
    },
    options = {
        onKeyPress: function (val, e, field, options) {
            field.mask(behavior.apply({}, arguments), options)
        }
    }
    $('#telefone').mask(behavior, options)
    $('#cep').mask('00000-000')
    $('#form').submit(ev => {
        const opcao1 = $('#serie')
        const opcao2 = $('#sexo')
        const opcao3 = $('turma')
        if (opcao1.val() === 'padrão') {
            ev.preventDefault()
            opcao1.focus()
        } else if (opcao2.val() === 'padrão') {
            ev.preventDefault()
            opcao2.focus()
        } else if (opcao3.val() === 'padrão') {
            ev.preventDefault()
            opcao3.focus()
        }
        if (erroNome.style.display == 'block') {
            nome.focus()
            ev.preventDefault()
        }
    })
    nome.keyup(() => {
        if (nome.val().length > 0) {
            socket.emit('alunoNameVeri', nome.val())
        }
    })
    const cep = $('#cep')
    cep.keyup(() => {
        if (cep.val().length == 0) {

        } else {
            socket.emit('veri-cep-alunos-cadas', String(cep.val()))
        }
    })
    socket.on('veri-cep-alunos-cadas-res', endereco => {
        const erroNome = $('#erro-cep')
        const erroNomeTxt = $('#erro-cep-txt')
        if (endereco) {
            erroNome.css({display: 'none'})
            erroNomeTxt.text('')
            $('#bairro').val(endereco.bairro)
            $('#cidade').val(endereco.cidade)
            $('#rua').val(endereco.rua)
        } else {
            erroNome.css({display: 'block'})
            erroNomeTxt.text('Esse CEP pode não ser válido')
        }
    })
    socket.on('alunoVeri', existe => {
        if (existe) {
            erroNome.style.display = 'block'
            erroNomeTxt.innerText = 'Já existe um aluno com esse nome'
        } else {
            erroNome.style.display = 'none'
            erroNomeTxt.innerText = ''
        }
    })
</script>